<html>
<head>
	<title>GifCam</title>
	<link rel="stylesheet" type="text/css" href="/assets/gif_cam.css"/>
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>
<h2>Gif Camera</h2>
<hr/>

<div><a href="/settings/wifi">Wifi setup</a> <em><%= @wifi_working ? "enabled" : "disabled" %></em></div>
<div><a href="/settings/tumblr">Tumblr setup</a></div>
<div><a href="/settings/videos">Show videos</a></div>
<hr/>
<a href="/settings/reboot">Restart and apply changes</a>
</body>
</html>