<html>
<head>
  <title>GifCam</title>
  <link rel="stylesheet" type="text/css" href="/assets/gif_cam.css"/>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>
<h2>Gif Camera</h2>
<em>Restarting, please wait a moment and <a href="/">go back to home page</a></em>
</body>
</html>